
<app-encabezado titulo="botones"></app-encabezado>

<ion-content class="ion-padding">
  <ion-text color="primary" class="ion-text-center">
    <h1>Botones</h1>
  </ion-text>
  <ion-button (click)="saludo()"  expand="block" fill="solid" >
    Soy un botón
  </ion-button>

  <ion-text color="secondary" class="ion-text-center">
    <h3>{{mensaje}}</h3>
  </ion-text>

  <ion-button (click)="navegar()" expand="block" fill="outline" >
    <ion-icon slot="start" name="home-outline"></ion-icon>    
    Ir a home
  </ion-button>
</ion-content>
