<ion-header class="full-screen-header">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Servicios Profesores</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openProfileMenu()">
        <ion-icon slot="icon-only" name="person" class="large-icon black-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="main-content">
  <div class="ion-text-center" style="margin-top: 50px;">
    <div *ngIf="qrCodeUrl" class="ion-text-center" style="margin-bottom: 20px;">
      <img [src]="qrCodeUrl" alt="Código QR generado" />
    </div>
    <ion-button (click)="generateQRCode()">Generar Código QR</ion-button>
  </div>
  <div class="ion-text-center" style="margin-top: 20px;">
    <ion-button (click)="toggleListaAlumnos()">Lista de alumnos</ion-button>
  </div>
  <ion-list *ngIf="mostrarListaAlumnos" class="alumnos-list">
    <ion-item *ngFor="let alumno of alumnos">
      <ion-label>{{ alumno }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-menu side="end" menuId="profile-menu" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button (click)="cerrarSesion()">
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
