<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="tertiary">
  <ion-text color="primary" class="ion-text-center">
    <h1>Pagina inicio</h1>
  </ion-text>

  <ion-list [inset]="true" lines="full" mode="ios">
    <ion-list-header mode="ios" color="primary">
      <ion-label>Video Games</ion-label>
    </ion-list-header>

    <ion-item routerLink="{{menulink.link}}" detail="true" *ngForm="let menulink of links">
      <ion-icon slot="start" name="{{menulink.icono}}"> </ion-icon>
      <ion-label>{{menulink.label}}</ion-label>
    </ion-item>



  </ion-list>
</ion-content>