

<ion-content class="ion-padding">
  <ion-text color="primary" class="ion-text-center">
    <h1 style="font-weight: bold;">¡Bienvenido! Inicia sesión para continuar.</h1>
  </ion-text>

  <form #miForm="ngForm" (ngSubmit)="iniciar_sesion()">
    <ion-list>
      <ion-item>
        <ion-input required type="text" label="Nombre de Usuario"
          labelPlacement="floating" 
          placeholder="Nombre de Usuario"
          [(ngModel)]="usuario.username"
          name="username_input"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input required type="password" label="Contraseña" 
          labelPlacement="floating"
          [(ngModel)]="usuario.password"
          name="password_input"  
          placeholder="***********"></ion-input>
      </ion-item>

      <ion-button type="submit" expand="block" fill="solid" [disabled]="miForm.invalid">
        Iniciar sesión
      </ion-button>
    </ion-list>
  </form>
</ion-content>
